node_modules

# Build
.next/
out/
build/

# Test artifacts
coverage/
playwright-report/
test-results/

# Environment
.env
.env.local
.env.production
.env*.local

# Misc
*.tsbuildinfo
.clerk/
.vercel
.turbo
# package-lock.json